logs/

tests_output/

# IntelliJ IDEA files
.idea/

# IntelliJ IDEA caches
*.iws
*.iml
*.ipr

# Node.js
node_modules/

# Selenium
selenium/

# NightwatchJS reports
reports/

# NightwatchJS screenshots
screenshots/
